.drawingArea {
    position: absolute;
    top: 60px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
    
}

.canvasContainer {
    width: 200px;
    height: 400px;
    position: relative;
    user-select: none;
}

.canvas {
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}

